* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    /* border: 2px solid red; */
    background-color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    overflow: hidden;
}


.circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transition: transform 500ms ease-in-out;
    color: black;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    all: unset;
    cursor: pointer;
    height: 20px;
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 350ms ease-in-out;
}

.btn:active {
    scale: 0.95;
}

.btn:hover {
    scale: 0.9;
}